@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

section,
footer {
  padding: 20px 0;
}

.font-brand {
  font-family: "Quicksand", sans-serif !important;
  font-weight: 700 !important;
}

.font-monospace {
  font-family: 'Roboto Mono', monospace !important;
  font-size: 13px !important;
}

.text-center {
  text-align: center;
}

.flex-middle {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.alert {
  border: none;
  border-radius: 0;
}

form {
  padding: 30px 20px;
}

form.form-shaded {
  background: #eee;
}

.mat-icon.margin {
  margin: 0.25em .5em;
}

.mat-form-field {
  display: block !important;
}

.full-width {
  width: 100% !important;
}

.pull-right {
  float: right;
}