<div class="home-page">

  <div class="banner" *showAuthed="false">
    <div class="container">
      <img src="/assets/logo-white.svg" width="128" height="128" style="display: block; margin: 0 auto;">
      <h1 class="logo-font">ontoscape</h1>
      <p>Quality management for ontologies.</p>
    </div>
  </div>

  <div class="container page">
    <mat-tab-group selectedIndex="1">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon-label">public</mat-icon> URL
        </ng-template>
        <form name="validate-url-form" class="form-shaded">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <mat-form-field class="full-width">
                <input matInput name="sourceUrl" placeholder="Ontology URL" [(ngModel)]="sourceUrl" required>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-4">
              <mat-form-field>
                <mat-select name="ruleset" placeholder="Ruleset" [(ngModel)]="selectedRuleset">
                  <mat-option *ngFor="let ruleset of rulesets" [value]="ruleset.uri">{{ ruleset.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-fab color="primary" (click)="validateUrl()">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon-label">content_paste</mat-icon> Copy &amp; Paste
        </ng-template>
        <form name="validate-text-form" class="form-shaded">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <mat-form-field class="full-width">
                <textarea class="font-monospace" matInput name="sourceData" placeholder="Ontology Content" [(ngModel)]="sourceData" rows="25"
                  required></textarea>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-4">
              <mat-form-field>
                <mat-select name="mime-type" placeholder="MIME Type" [(ngModel)]="selectedMimeType">
                  <mat-option *ngFor="let mime of mimeTypes" [value]="mime">{{ mime }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select name="ruleset" placeholder="Ruleset" [(ngModel)]="selectedRuleset">
                  <mat-option *ngFor="let ruleset of rulesets" [value]="ruleset.uri">{{ ruleset.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="text-align: right;">
                <button mat-fab color="primary" (click)="validateData()">
                  <mat-icon>play_arrow</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
    <div class="text-center">
      <mat-spinner *ngIf="isValidating"></mat-spinner>
      <mat-list>
        <mat-list-item *ngFor="let result of reportResults">
          <h4>{{result.severity}} - {{result.focusNode}}</h4>
          <p>{{result.path}}</p>
          <p>{{result.message}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
