<section>
  <div class="container">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon-label">public</mat-icon> URL
        </ng-template>
        <form name="validate-url-form" class="form-shaded">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <mat-form-field class="full-width">
                <input matInput name="sourceUrl" placeholder="Ontology URL" [(ngModel)]="sourceUrl" required>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-4">
              <mat-form-field>
                <mat-select name="ruleset" placeholder="Ruleset" [(ngModel)]="selectedRuleset">
                  <mat-option *ngFor="let ruleset of rulesets" [value]="ruleset.uri">{{ ruleset.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-fab color="primary" (click)="validateUrl()">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon-label">content_paste</mat-icon> Copy &amp; Paste
        </ng-template>
        <form name="validate-text-form" class="form-shaded">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <mat-form-field class="full-width">
                <textarea class="font-monospace" matInput name="sourceData" placeholder="Ontology Content" [(ngModel)]="sourceData" rows="25"
                  required></textarea>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-4">
              <mat-form-field>
                <mat-select name="mime-type" placeholder="MIME Type" [(ngModel)]="selectedMimeType">
                  <mat-option *ngFor="let mime of mimeTypes" [value]="mime">{{ mime }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select name="ruleset" placeholder="Ruleset" [(ngModel)]="selectedRuleset">
                  <mat-option *ngFor="let ruleset of rulesets" [value]="ruleset.uri">{{ ruleset.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="text-align: right;">
                <button mat-fab color="primary" (click)="validateData()">
                        <mat-icon>play_arrow</mat-icon>
                      </button>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
<section>
  <div class="container">
    <mat-spinner *ngIf="isValidating" style="margin: 10px auto;"></mat-spinner>
    <div *ngIf="isValidating === false">
      <div *ngIf="isValidationSuccess">
        <div class="alert alert-success text-center" role="alert">
          <div class="flex-middle">
            <mat-icon class="margin">done</mat-icon><span>Successfully validated document.</span>
          </div>
        </div>
      </div>

      <div *ngIf="!isValidationSuccess">
        <div class="alert alert-warning text-center" role="alert">
          <div class="flex-middle">
            <mat-icon class="margin">error_outline</mat-icon><span>Document has {{reportResults.length}} issues.</span>
          </div>
        </div>
        <mat-list>
          <mat-list-item *ngFor="let result of reportResults">
            <mat-icon matListIcon>error_outline</mat-icon>
            <h5 matLine>{{result.severity}} - {{result.focusNode}}</h5>
            <p matLine>{{result.path}}</p>
            <p matLine>{{result.message}}</p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</section>
